.add-page {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  padding-top: 0px;
  border-radius: 15px;
  color: white;
  text-align: center;
}

.add-page h2 {
  margin-bottom: 20px;
}

.add-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-page input,
.add-page select {
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.add-page button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.add-page button:hover {
  background-color: #0056b3;
}


h1 {
  margin-top: 35px;
}



/**
 * Estilo para el formulario de añadir monstruo
 */
/* Agrupar campo y label en fila */
.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0px;
}

/* Label a la izquierda */
.form-group label {
  width: 25%;
  text-align: left;
  font-weight: bold;
}

/* Inputs y selects */
.form-group input,
.form-group select {
  width: 65%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

/* Ajusta el tamaño de los inputs */
.form-group input {
  width: 61.5%;
}




/**
 * Estilo para la previsualización de la imagen del monstruo
 */
.monster-img-preview {
  /* width: 150px;
  height: 150px; */
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 12px;
}

/**
 * Estilo para los mensajes de error y éxito
 */
.error-msg {
  color: red;
}
.success-msg {
  color: green;
}
