

.home-page {  
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; /* Asegura que el contenido principal ocupe todo el ancho */
}

.logo-container-home {
    text-align: center;
    margin-bottom: 100px;
    display: flex; /* Añadimos flexbox para controlar la disposición de los elementos */
    flex-direction: column; /* Colocamos los elementos en columna, uno encima del otro */
    justify-content: center; /* Centramos verticalmente los elementos dentro del contenedor */
    align-items: center; /* Centramos horizontalmente los elementos dentro del contenedor */
    width: 100%;
    padding: 10px; /* Añadimos un poco de espacio alrededor del contenedor */
    margin-block-end: 10px;
}

.logo-container-home img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-block-end: 0px;;
}

.main-logo-home{
    width: 300px; /* Aumenta el tamaño del logo */
    height: auto;
    margin-bottom: 20px;
}

.logo-text {
    font-size: 3em; /* Aumenta el tamaño del texto */
    line-height: 1.5;
    letter-spacing: 2px; /* Añade espacio entre letras para mayor amplitud */
    font-weight: bold; /* Hace el texto más llamativo */
    padding: 0px; /* Añade espacio alrededor del texto */
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    gap: 40px;
    padding: 0px 0px 20px 0px; /* Añade espacio sobre los botones */
    margin-block-end: 10px;;
}

.button {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em; /* Aumenta el tamaño de los botones */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005f99;
}