/* Página de ítems */
.items-page {
    background-color: transparent; /* Fondo transparente */
    color: white;
    min-height: 100vh;
    padding: 20px;
}

/* Imagen centrada */
.image-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-bottom: 20px; /* Espaciado debajo de la imagen */
}

.centered-image {
    max-width: 20%; /* Reduce el tamaño de la imagen al 50% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto visual */
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-input,
.filter-select,
.search-button {
    margin: 0 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-input {
    flex: 1;
    max-width: 300px;
}

.filter-select {
    background-color: #005f99;
    color: white;
}

.search-button {
    background-color: #005f99;
    color: white;
    cursor: pointer;
}

/* Tabla de ítems */
.items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f2f2f2; /* Fondo gris claro */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.items-table th,
.items-table td {
    padding: 15px;
    text-align: left;
    font-size: 14px;
    color: #333333; /* Letras oscuras para mejor contraste */
}

.items-table th {
    background-color: #666666; /* Fondo gris oscuro para encabezados */
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #555555;
    color: white; /* Letras blancas para encabezados */
}

.items-table td {
    background-color: #d9d9d9; /* Fondo gris claro para celdas */
    border-bottom: 1px solid #cccccc;
    color: #333333; /* Letras oscuras */
}

.items-table tr:nth-child(even) td {
    background-color: #e6e6e6; /* Fondo ligeramente más claro para filas pares */
}

.items-table tr:hover td {
    background-color: #cccccc; /* Fondo gris más oscuro al pasar el cursor */
    color: #333333; /* Letras oscuras */
    cursor: pointer;
}

/* Ajustes para bordes redondeados */
.items-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.items-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.items-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.items-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Botón para añadir ítems */
.add-item-container {
    text-align: right;
    margin-bottom: 20px;
}

.add-item-button {
    padding: 10px 20px;
    background-color: #005f99;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-item-button:hover {
    background-color: #004080;
}