body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav-bar {
    background-color: #00aaff;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
}

.nav-item {
    padding: 10px;
    flex-shrink: 0; /* Evita que los items se reduzcan */
}

.left, .right {
    /* Estilos específicos para los elementos izquierdo y derecho */
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 100px;
}

.logo-container img {
    height: 50px;
    max-width: 100%;
    margin: 0 auto;
}
