/* src/assets/css/modulesStyle/FooterStyle.css */
.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente por defecto */
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente dentro del contenedor */
    width: 100%;
  }
  
  .footer-top {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%;
  }
  
  
  .social-icons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Centra los iconos de redes sociales */
  }
  
  .social-icons a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #00aaff;
  }
  
  .footer-nav {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #00aaff;
  }
  
  .footer-bottom {
    font-size: 0.9rem;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  .footer-left {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .ies-logo {
    height: 80px;
    max-width: 100%;
    transition: transform 0.2s ease-in-out;
  }
  
  .ies-logo:hover {
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .footer-content {
      align-items: flex-start; /* Alinea los elementos a la izquierda en pantallas más grandes */
    }
    .footer-top {
      flex-direction: row; /* Vuelve a la disposición horizontal en pantallas más grandes */
      justify-content: space-between; /* Distribuye el espacio entre redes sociales y texto */
      align-items: center; /* Alinea verticalmente los elementos */
    }
    .footer-nav {
      text-align: center;
    }
    .footer-left {
      justify-content: flex-start;
    }
  }
  