.nav-bar {
    background-color: #005f99;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaciado entre los elementos de la izquierda y la derecha */
    padding: 7px 0px; /* Espaciado interno */
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor */
}

.left, .right {
    /* Estilos específicos para los elementos izquierdo y derecho */
    font-weight: bold;
}

.logo-container-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el ícono a la izquierda */
    margin-right: 20px; /* Espaciado entre el ícono y los enlaces */
}

.logo-container-navbar img {
    height: 50px;
    max-width: 100%;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaciado entre los enlaces */
}

.tirar-dado-enlace {
    margin-left: auto; /* Empuja este enlace hacia la derecha */
    margin-right: 10px;;
}
