.add-item-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #005f99;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #004080;
}

/* Imagen centrada */
.image-container {
  text-align: center; /* Centra la imagen horizontalmente */
  margin-bottom: 20px; /* Espaciado debajo de la imagen */
}

.centered-image {
  max-width: 35%; /* Reduce el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 15px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto visual */
}