/* Página de ítems */


/* Barra de búsqueda */
.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.table-responsive table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  table-layout: auto;
}

table th, table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    font-size: inherit;
    padding: 4px 8px;
    margin: 0;
}

input[type="text"] {
  margin-top: 30px;
}


/* Configuración botno calcular factura/xp (en TableStyle.css) */
.modulo-reparto {
    text-align: left !important;
}